body{
	background:url("../images/bg.png");
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	/*font-family:"Copse", sans-serif;¨*/
}
#container{
	width:820px;
	margin:20px auto;	
}
#header{
	overflow:hidden;
	margin-bottom:10px;
}
#logo{
	float:left;
}
#logo a{
	display:block;
	background:url("../images/logo-med.png");
	width:217px;
	height:59px;
	overflow:hidden;
	text-indent:-900px;
}
#nav{
	margin-top:30px;
	float:right;
	height:20px;
}
.page{
	background:#fff;
	border:1px solid #d3c7bf;
	padding:40px;
	-webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
}

#toc{
	position:fixed;
	top:80px;
	left:20px;
	background:#fff;
	width:120px;
	border:1px solid #d3c7bf;
	padding:20px;
	-webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	box-shadow: 1px 3px 3px rgba(0,0,0,0.15);	
}

.document-nav{
	background:#eee;
	padding:5px;
	margin:20px 0;
}

.delete{
	color:red;
}