	@import url('blueprint/screen.css');



body{
	background:url("../images/bg.png");
	font-size:14px;
}
strong{
	font-weight:bold !important;
}
h1,h2,h3,h4,h5,h6{
	/*font-family:"Copse", sans-serif;¨*/
}
#container{
	width:820px;
	margin:20px auto;	
}
#header{
	overflow:hidden;
	margin-bottom:10px;
}
#logo{
	float:left;
}
#logo a{
	display:block;
	background:url("../images/logo-med.png");
	width:217px;
	height:59px;
	overflow:hidden;
	text-indent:-900px;
}
#nav{
	margin-top:30px;
	float:right;
	height:20px;
}
.page{
	background:#fff;
	border:1px solid #d3c7bf;
	padding:40px;
	-webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
}

#palette{
	position:fixed;
	top:80px;
	left:20px;
	width:190px;
}
#palette>div{
	padding:20px;
	background:#fff;
	-webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	box-shadow: 1px 3px 3px rgba(0,0,0,0.15);
	border:1px solid #d3c7bf;
	margin-top:-1px;
}

.document-nav{
	background:#eee;
	padding:5px;
	margin:20px 0;
}

.delete{
	color:red;
}

#document_content{
	height:100%;
}
.foobar{
	background:red !important;
}
.mceLayout, .mceLayout tr, .mceLayout td{
	border:none !important;
}

.editing{
	background:#FEFFE0;
}
.active{
	background:#eee;
}
.hilite{
	display:inline-block;
	background:red;
	color:white;
}
.ui-tabs { position: relative; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0 0 0 1px;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 0 0 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	display:block;
	padding: 6px 8px;
	text-decoration: none;
	border:1px solid #d3c7bf;
	background:#fff;
	margin-left:-1px;
	line-height:1;
	font-size:13px;
	font-weight:bold;
	background:#eee;
	/*-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
	border-bottom:1px solid #fff;
	background:#fff;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block; 
	border-width: 0; 
	background: none;
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}
.monk-elem{
	background:rgba(0,0,0,0.05);
}
.monk-delete-elem{
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family:arial, sans-serif;
	display:inline-block;
	height:5px;
	width:5px;
	line-height:5px;
	overflow:hidden;
	/*text-indent:-900px;*/
	background:#999;
	color:#fff;
	margin:0px 4px 0px 2px;
	padding:5px;
	cursor:pointer;
	text-decoration:none;
	font-size:18px;
}