<h2>Create kick-ass docs!</h2>

<h4>Documonk is an app that lets you create beautiful, readable documents. Need to write your app's documentations, or want to create a tutorial? Then Documonk is for you!</h4>
<p>Here's why Documonk kicks ass, Shaolin-style:</p>
<ul>
	<li>Pick from many stylish templates and customize them to your needs</li>
	<li>PDF export so that your users can read your doc offline</li>
	<li>Users can add notes to signal errors or add examples</li>
	<li>Automatic table of contents and syntax highlighting</li>
</ul>
<div class="documents">
	<h3>Featured Documents</h3>
	<ul>
  <%= render @document %>
	</ul>
</div>